# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
# load in csv
csvpath = "cities.csv"

# read in csv as dataframe
vacation_df = pd.read_csv(csvpath)
vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Aykhal,66.00,111.50,51.80,87,90,4.47,RU,1595102745
1,Qiyang,26.59,111.85,80.92,76,100,6.60,CN,1595102745
2,Hilo,19.73,-155.09,84.20,62,75,4.70,US,1595102514
3,Leningradskiy,69.38,178.42,37.72,82,100,10.38,RU,1595102745
4,Albany,42.60,-73.97,91.99,36,3,4.79,US,1595102607

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
# configure gmaps
gmaps.configure(api_key=g_key)

locations = vacation_df[["Lat", "Lng"]].astype(float)
humidity = vacation_df["Humidity"].astype(float)

In [18]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
# narrow down cities to fit weather conditions
ideal_weather = vacation_df[(vacation_df["Max Temp"]>= 75)&
                            (vacation_df["Max Temp"]<=85)&
                            (vacation_df["Wind Speed"]<=10)&
                            (vacation_df["Cloudiness"]<=10)]

# drop any rows with null values
ideal_weather = ideal_weather.dropna()
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
58,Bandundu Province,-3.32,17.37,78.69,49,0,2.71,CD,1595102346
115,Portland,45.52,-122.68,75.00,53,1,5.82,US,1595102325
140,Ammon,43.47,-111.97,81.00,41,1,6.93,US,1595102155
156,Thunder Bay,48.40,-89.32,79.00,83,1,3.36,CA,1595102361
227,Praskoveya,44.74,44.20,79.03,49,0,4.16,RU,1595102371
244,RƒÅvar,31.27,56.81,83.01,15,0,6.06,IR,1595102373
253,Nevers,46.99,3.16,78.01,40,0,4.81,FR,1595102374
309,Umluj,25.02,37.27,83.68,63,0,5.95,SA,1595102382
316,Aktau,43.65,51.20,78.80,50,0,8.95,KZ,1595102382
341,Erzin,36.96,36.20,80.01,79,1,0.78,TR,1595102386
364,Alamosa,37.47,-105.87,78.80,29,1,4.70,US,1595102389
372,Midyat,37.42,41.34,77.00,57,0,5.82,TR,1595102390
391,Banjar,-8.19,114.97,75.22,77,3,5.32,ID,1595102314
393,Bereda,43.27,-7.54,79.00,75,0,8.99,ES,1595102393
429,Kushmurun,52.45,64.63,77.50,61,0,9.89,KZ,1595102398
449,Tabou,4.42,-7.35,76.33,85,3,7.29,CI,1595102400
475,Morro Bay,35.37,-120.85,84.00,60,1,7.02,US,1595102152
481,Province of Huelva,37.67,-7.00,79.00,64,0,5.01,ES,1595102411
498,Gurjaani,41.74,45.80,76.96,46,0,1.90,GE,1595102415
499,Labuhan,-6.88,112.21,75.69,83,9,7.72,ID,1595102415
529,Kikwit,-5.04,18.82,77.27,32,4,2.37,CD,1595102421
538,Puerto del Rosario,28.50,-13.86,84.20,58,0,6.93,ES,1595102423
546,Isabela,6.71,121.97,78.53,85,2,4.12,PH,1595102425

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure